<app-header page="rentals"></app-header>
<div id="spinner" *ngIf="!rentalsList">
  <ion-spinner name="dots"></ion-spinner>
</div>
<div class="select-no-rentals-wrapper" *ngIf="rentalsList">
  <div id="filters">
    <div>
      <label for="noOfRentals">Number of Rentals: </label>
      <select
        name="noOfRentals"
        id="no-rentals"
        (change)="onNoRentalsChange($event)"
      >
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div>
      <label for="onlyActive">Only Active Rentals: </label>
      <select name="onlyActive" (change)="onOnlyActiveRentalsChange($event)">
        <option>No</option>
        <option>Yes</option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="rentalsList && !rentalsList.length" id="no-rentals-wrapper">
  <h2>There are no active rentals</h2>
</div>
<div class="table-container" *ngIf="rentalsList && rentalsList.length">
  <table class="data-table">
    <thead>
      <tr>
        <th *ngIf="isAdmin"><button>User</button></th>
        <th><button>Title</button></th>
        <th><button>Rental Date</button></th>
        <th><button>Return Date</button></th>
        <th><button>Paid</button></th>
      </tr>
    </thead>
    <tbody id="table-content">
      <tr
        *ngFor="
          let rentedMovie of rentalsList
            | paginate
              : {
                  itemsPerPage: noOfRentals,
                  currentPage: page,
                  totalItems: totalRentals
                }
        "
      >
        <td *ngIf="isAdmin">{{ rentedMovie.user }}</td>
        <td>{{ rentedMovie.movie }}</td>
        <td>{{ rentedMovie.rental_date }}</td>
        <td>
          {{
            !rentedMovie.return_date
              ? "Not yet returned"
              : rentedMovie.return_date
          }}
        </td>
        <td id="is-paid">
          {{ rentedMovie.is_paid ? "&#x2714;" : "&#10005;" }}
        </td>
        <td *ngIf="!isAdmin">
          <button
            (click)="onReturnMovie(rentedMovie.uuid)"
            [disabled]="rentedMovie.is_paid"
          >
            {{ rentedMovie.return_date ? "Returned" : "Return" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination-wrapper">
  <pagination-controls
    class="my-pagination"
    *ngIf="rentalsList && rentalsList.length"
    [responsive]="true"
    previousLabel=""
    nextLabel=""
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>
