.header-wrapper {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". titl prof";
  height: 15vh;

  #title-wrapper {
    grid-area: titl;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-items: center;

    #title,
    p {
      font-weight: 800;
      margin: 0;
    }
  }

  .nav-icons {
    grid-area: prof;
    display: flex;
    justify-content: end;

    .icon {
      cursor: pointer;
      height: 40px;
      align-self: center;
      margin-right: 2vw;
    }
  }
}
