<div class="header-wrapper">
  <div id="title-wrapper">
    <h1 id="title">Online Movie Rent Store</h1>
    <p *ngIf="isAdmin">Admin</p>
  </div>
  <div class="nav-icons" *ngIf="!isAdmin">
    <img
      *ngIf="page === 'movies'"
      src="../../assets/list.png"
      alt="My Rentals"
      title="My Rentals"
      class="icon"
      (click)="navigateToMyRentals()"
    />
    <img
      *ngIf="page === 'rentals'"
      src="../../assets/movie.png"
      alt="All Movies"
      title="All Movies"
      class="icon"
      (click)="navigateToAllMovies()"
    />
    <img
      src="../../assets/user.png"
      alt="Profile"
      title="Profile"
      class="icon"
      (click)="openProfileModal()"
    />
  </div>
  <div class="nav-icons" *ngIf="isAdmin">
    <img
      *ngIf="page === 'rentals'"
      src="../../assets/bubble.png"
      alt="Movies Chart"
      title="Movies Chart"
      class="icon"
      (click)="navigateToMoviesChart()"
    />
    <img
      *ngIf="page === 'movies'"
      src="../../assets/list.png"
      alt="All Rentals"
      title="All Rentals"
      class="icon"
      (click)="navigateToMyRentals()"
    />
    <img
      src="../../assets/add.png"
      alt="Add Movie"
      title="Add Movie"
      class="icon"
      (click)="openAddMovieModal()"
    />
    <img
      src="../../assets/exit.png"
      alt="Logout"
      title="Logout"
      class="icon"
      id="logout"
      (click)="logout()"
    />
  </div>
</div>
