.movies-list-wrapper {
  margin-top: 10vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5vw;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 4vw;
}

.my-pagination::ng-deep .ngx-pagination {
  .current {
    background: transparent;
    color: lightskyblue;
    font-size: 5vw;
  }

  .disabled {
    color: rgb(30, 30, 30);
  }

  a {
    color: white;
    background: transparent;
    :hover {
      color: lightskyblue;
    }
  }
}
