<app-header></app-header>
<div class="movies-list-wrapper">
  <h3 *ngIf="!movies.length">Loading...</h3>
  <div *ngIf="movies && movies.length" class="movies-list">
    <app-movie-card
      *ngFor="
        let movie of movies
          | paginate
            : { itemsPerPage: 10, currentPage: page, totalItems: totalMovies }
      "
      [movie]="movie"
    ></app-movie-card>
  </div>
</div>
<div class="pagination-wrapper">
  <pagination-controls
    (pageChange)="page = $event"
    *ngIf="movies && movies.length"
  ></pagination-controls>
</div>
