.movies-list-wrapper {
  margin-top: 10vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5vw;
}
