<div id="title">
  <h1>Online Movie Rent Store</h1>
</div>
<form [formGroup]="form">
  <fieldset>
    <h1>Login</h1>
    <div>
      <label>Username: </label>
      <input name="username" formControlName="username" />
    </div>
    <div>
      <label>Password: </label>
      <input name="password" formControlName="password" type="password" />
    </div>
  </fieldset>
  <div>
    <button (click)="login()" [disabled]="loading">
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading"> Login </span>
    </button>
  </div>
</form>
