.header-wrapper {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". titl prof";
  height: 15vh;

  #title {
    grid-area: titl;
    justify-self: center;
    align-self: center;
  }

  #nav-icons {
    grid-area: prof;
    display: flex;
    justify-content: end;

    #icon {
      cursor: pointer;
      height: 40px;
      align-self: center;
      margin-right: 2vw;
    }
  }
}
