.movie-card-wrapper {
  max-width: 200px;
  max-height: 300px;

  .poster-wrapper {
    cursor: pointer;

    img {
      transition: all 0.5s ease;
    }

    :hover {
      transform: scale(1.1);
    }
  }
}
