<app-header page="movies"></app-header>
<div id="spinner" *ngIf="!movies">
  <ion-spinner name="dots"></ion-spinner>
</div>
<div class="select-no-movies-wrapper" *ngIf="movies && movies.length">
  <div id="filters">
    <div>
      <label for="noOfMovies">Number of Movies: </label>
      <select name="noOfMovies" (change)="onNoMoviesChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div>
      <label for="categories">Categories: </label>
      <select
        name="categories"
        id="categories"
        (change)="onSelectCategory($event)"
      >
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="movies-list-wrapper">
  <ion-spinner name="dots" *ngIf="!movies.length"></ion-spinner>
  <div *ngIf="movies && movies.length" class="movies-list">
    <app-movie-card
      *ngFor="
        let movie of movies
          | paginate
            : {
                itemsPerPage: noOfMovies,
                currentPage: page,
                totalItems: totalMovies
              }
      "
      [movie]="movie"
    ></app-movie-card>
  </div>
</div>
<div class="pagination-wrapper">
  <pagination-controls
    class="my-pagination"
    *ngIf="movies && movies.length"
    [responsive]="true"
    previousLabel=""
    nextLabel=""
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>
