#spinner {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.select-no-movies-wrapper {
  margin-top: 10vh;
  margin-right: 6vw;
  margin-bottom: 5vh;
  display: flex;
  justify-content: end;

  label {
    margin-right: 0.5vw;
  }

  #categories {
    margin-left: 4%;
  }
}

#filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movies-list-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5vw;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 3vw;
}

.my-pagination::ng-deep .ngx-pagination {
  .current {
    background: transparent;
    color: lightskyblue;
    font-size: 3.75vw;
  }

  .disabled {
    color: rgb(30, 30, 30);
  }

  a {
    color: white;
    background: transparent;
    :hover {
      color: lightskyblue;
    }
  }
}
