<ion-content>
  <header>
    <div id="header-wrapper">
      <h1>{{ movie.title }}</h1>
      <button (click)="onModalClose()" title="Close">X</button>
    </div>
    <div id="num-details">
      <span>{{ movie.pub_date }}</span> &nbsp;&#x2022;&nbsp;
      <span *ngFor="let category of movie.categories"
        >{{ category }}&nbsp;</span
      >
      &nbsp;&#x2022;&nbsp;
      <span>{{ hours }}h {{ movie.duration % 60 }}m</span>
    </div>
  </header>
  <div id="details-wrapper">
    <img src="{{ movie.poster_url }}" alt="movie_poster" id="movie-poster" />
    <div id="description-wrapper">
      <h2>Description</h2>
      <p>{{ movie.description }}</p>
      <hr />
      <div>
        Score: <span>{{ stars }}</span>
      </div>
    </div>
  </div>
  <footer>
    <div *ngIf="!isRented">
      <button (click)="onRentMovie()" [disabled]="isRented">
        {{ isRented ? "Already Rented" : "Rent" }}
      </button>
    </div>
    <div *ngIf="isRented">
      <button (click)="onReturnMovie()" [disabled]="!isRented">Return</button>
    </div>
  </footer>
</ion-content>
