// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$online-movie-rent-store-primary: mat.define-palette(mat.$indigo-palette);
$online-movie-rent-store-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$online-movie-rent-store-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$online-movie-rent-store-theme: mat.define-light-theme(
  (
    color: (
      primary: $online-movie-rent-store-primary,
      accent: $online-movie-rent-store-accent,
      warn: $online-movie-rent-store-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($online-movie-rent-store-theme);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background: rgb(30, 30, 30);
}

ion-modal {
  --background: rgb(30, 30, 30);
  --border-color: rgba(255, 255, 255, 0.1);
  --border-style: solid;
  --border-width: 2px;
  --border-radius: 5%;
  backdrop-filter: blur(5px);
}

ion-content {
  --background: rgb(30, 30, 30);
  --color: #fff;
}

ion-item {
  --background: rgba(255, 255, 255, 0.5);
  --border-radius: 10px;
}

ion-label {
  --color: white;
}

ion-checkbox {
  --checkmark-color: white;
}

.mat-sort-header-container {
  justify-content: center;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
