body {
  color: #fff;
  background: rgb(30, 30, 30);
}

ion-modal {
  --background: rgb(30, 30, 30);
  --border-color: rgba(255, 255, 255, 0.1);
  --border-style: solid;
  --border-width: 2px;
  --border-radius: 5%;
  backdrop-filter: blur(5px);
}

ion-content {
  --background: rgb(30, 30, 30);
  --color: #fff;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
